html: {
  box-sizing: border-box;
  font-family: sans-serif;

}

*: {
  box-sizing: inherit;

}
header {
  background-color: #06D6A0;
  font-size: 20px;
  padding: 20px 10px;
  font-weight: bold;
  color: white;

}

nav {
  float: right;

}
nav a {
  padding: 5px;
}
.container {
  height: 100%;
  margin-right: 20%;
  margin-left: 20%;
}
.meowcome {
  background-color: #26547C;
  height: 20%;
}

.meowcome > img {
  max-width: 60%;
  top: 0;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.welcome{
  float: right;
  padding: 50px;
  display: inline-block;
  width: 26%;
}

.cats {
  background-color: #FFD166;
  font-size: 20px;
  color: black;
  padding-left: 20px;
  padding-bottom: 50px;
}

h2 {
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

.products {
  background-color: #F2F2F2;
  font-size: 20px;
  color: black;
  padding-left: 20px;
  padding-bottom: 50px;
}

.products img {
  max-width: 30%;
  border: 3px solid black;
  margin-right: 13px;
  margin-bottom: 15px;
}

p {
  padding-bottom: 20px;
}
.values {
  background-color: #26547C;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.values ul {
  text-align: center;
  text-transform: uppercase;
}

.values ul li {
  color: red;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  padding: 40px 110px 40px 40px;

}

footer {
  background-color: #06D6A0;
  font-size: 20px;
  padding: 30px;
  font-weight: bold;
  color: black;
}
footer span {
  float: right;
}
